body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 9fr;
    grid-template-columns: 2fr 8fr;
    grid-template-areas: 
        "header header"
        "nav main";
    margin: 0;
    padding: 0;
}

header {
    grid-area: header;
    border-bottom: 1px solid gray;
}

nav {
    grid-area: nav;
    border-right: 1px solid gray;
}

main {
    grid-area: main;
}

header,
nav,
main {
    text-align: center;
}

ul {
    padding: 0;
}

aside {
    display: none;
    padding: 10px;
    justify-items: center;
    gap: 2px;
    top: 25%;
    left: 35%;
    position: absolute;
    border: 1px solid black;
    background-color: lightgray;
    text-align: center;
    border-radius: 5%;
}

li {
    list-style-type: none;
}